<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= context %> | Allday Wipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Allday wipes l Admin Dashboard" name="description" />
    <meta content="Allday wipes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *;img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *"
    />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/assets/images/logo.png" />

    <!-- Plugins css -->
    <link
      href="/static/assets/libs/flatpickr/flatpickr.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/static/assets/libs/selectize/css/selectize.bootstrap3.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="../assets/libs/spectrum-colorpicker2/spectrum.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../assets/libs/flatpickr/flatpickr.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../assets/libs/clockpicker/bootstrap-clockpicker.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- App css -->
    <link
      href="/static/assets/css/config/default/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
      id="bs-default-stylesheet"
    />
    <link
      href="/static/assets/css/config/default/app.min.css"
      rel="stylesheet"
      type="text/css"
      id="app-default-stylesheet"
    />

    <link
      href="/static/assets/css/config/default/bootstrap-dark.min.css"
      rel="stylesheet"
      type="text/css"
      id="bs-dark-stylesheet"
    />
    <link
      href="/static/assets/css/config/default/app-dark.min.css"
      rel="stylesheet"
      type="text/css"
      id="app-dark-stylesheet"
    />

    <!-- third party css -->
    <link
      href="/static/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/static/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- third party css end -->

    <!-- icons -->
    <link
      href="/static/assets/css/icons.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- app general custome image -->
    <link href="/static/assets/css/app.css" rel="stylesheet" type="text/css" />
    <link
      href="/static/assets/style/css/main.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/static/assets/css/main.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- DATAT -->
    <link
      href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css"
      type="text/css"
    />
    <link
      href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
</html>
