<!-- User box -->
<% if(locals.user) { %>
<div class="user-box text-center">
  <img
    src="/static/uploads/products/<%= user.image %>"
    alt="user-img"
    title="Mat Helme"
    class="rounded-circle avatar-md"
  />
  <div class="dropdown">
    <a
      href="javascript: void(0);"
      class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block"
      data-bs-toggle="dropdown"
      ><%= user.fullname %></a
    >
    <div class="dropdown-menu user-pro-dropdown">
      <!-- item-->
      <a href="javascript:void(0);" class="dropdown-item notify-item">
        <i class="fe-user me-1"></i>
        <span>My Account</span>
      </a>

      <!-- item-->
      <a href="/logout" class="dropdown-item notify-item">
        <i class="fe-log-out me-1"></i>
        <span>Logout</span>
      </a>
    </div>
  </div>
  <% if(user.role == 1) {%>
  <p class="text-muted">Admin Head</p>
  <% }else{ %>
  <p class="text-muted">Editor</p>
  <%} %>
</div>
<% } %>

<div id="sidebar-menu">
  <ul id="side-menu">
    <li>
      <a href="/root">
        <i data-feather="calendar"></i>
        <span> Dashboard </span>
      </a>
    </li>

    <li>
      <a href="#sidebarEcommerce" data-bs-toggle="collapse">
        <i data-feather="shopping-cart"></i>
        <span> Products </span>
        <span class="menu-arrow"></span>
      </a>
      <div class="collapse" id="sidebarEcommerce">
        <ul class="nav-second-level">
          <li>
            <a href="/product/add">Add Product</a>
          </li>
          <li>
            <a href="/product/all">Manager Product</a>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="#sidebarCharts" data-bs-toggle="collapse">
        <i data-feather="bar-chart-2"></i>
        <span> Sales </span>
        <span class="menu-arrow"></span>
      </a>
      <div class="collapse" id="sidebarCharts">
        <ul class="nav-second-level">
          <li>
            <a href="/sales/add">Add Sales</a>
          </li>
          <li>
            <a href="/sales/reports">Sales Reports</a>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="#sidebarMaps" data-bs-toggle="collapse">
        <i data-feather="map"></i>
        <span> Vendors </span>
        <span class="menu-arrow"></span>
      </a>
      <div class="collapse" id="sidebarMaps">
        <ul class="nav-second-level">
          <li>
            <a href="/vendor/add">Add vendor</a>
          </li>
          <li>
            <a href="/vendor/all">Manager Vendors</a>
          </li>
        </ul>
      </div>
    </li>

    <% if(user.role == 1) {%>
    <li>
      <a href="#sidebarLayouts" data-bs-toggle="collapse">
        <i data-feather="users"></i>
        <span class="menu-arrow"></span>
        <span> Users </span>
      </a>
      <div class="collapse" id="sidebarLayouts">
        <ul class="nav-second-level">
          <li>
            <a href="/user/all">All User</a>
          </li>
          <li>
            <a href="/user/add">Create User</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </li>
    <% }%>
  </ul>
</div>
