<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Home | Allday Wipes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Nigerian National League Admin Dashboard" name="description" />
        <meta content="G-Skills" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/static/assets/images/logo.png">

        <!-- Plugins css -->
        <link href="/static/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
        
        <!-- App css -->
        <link href="/static/assets/css/config/default/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
        <link href="/static/assets/css/config/default/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

        <link href="/static/assets/css/config/default/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
        <link href="/static/assets/css/config/default/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

        <!-- icons -->
        <link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

        <!-- app general custome image -->
        <link href="/static/assets/css/app.css" rel="stylesheet" type="text/css" />
        
    </head>

    
  
    <!-- <div class="ui container">
      <div class="ui secondary  menu">
        <a class="active item" href="/">
          Home
        </a>
        <% if(locals.user) { %>
          <a class="ui item" href="/users/dashboard">
            dashboard
          </a>
          <div class="right menu">
            <a class='ui item'>
              <%= user.username %>
            </a>
            <a class="ui item" href="/users/logout">
              Logout
            </a>
          </div>
        <% } else {%>

          <div class="right menu">
            <a class="ui item" href="/users/signup">
              Sign Up
            </a>
            <a class="ui item" href="/users/login">
              Login
            </a>
          </div>
        <% } %>
      </div>
    </div> -->
    <%- body %>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </body>
</html>